header {
    background-color: palegreen;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap:10%;
    padding-right: 5%;
    padding-bottom: 20px;
}


.logo {
    height: 200px;
    padding: 25px;
}